
<h2>Add New Member</h2>
<form id="add-member-form" method="POST" action="/add-member-form">
    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" required><br>

    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName" required><br>
    
    <label for="input-email"> Email: </label>
    <input type="text" name="input-email" id="input-email" required><br>

    <label for="input-phoneNumber">Phone Number: </label>
    <input type="tel" name="input-phoneNumber" id="input-phoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="XXX-XXX-XXXX" required><br>

    <label for="input-joinDate">Join Date: </label>
    <input type="date" name="input-joinDate" id="input-joinDate" required><br>

    <label for="input-membershipType">Membership Type: </label>
    <select name=""input-membershipType" id="input-membershipType" required>
        <option value=""basic">Basic</option>
        <option value="premium">Premium</option>
        <option value="vip">VIP</option>
    </select><br>
    <input type="submit" value="Add Member"><br>
</form>
